{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .col-md-8 {
       width: 100%;
    }
</style>
<div class="container">
    <header class="blog-header py-3">

    </header>
</div>
<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom"> About page</h3>
   <div class="container mt-5">
        <h1 class="mb-4">About Us</h1>

        <p>Welcome to HotReels, your one-stop destination for all things HotWheels! We are passionate about bringing the thrill and excitement of HotWheels to collectors, enthusiasts, and kids of all ages. Whether you're a die-hard HotWheels collector or looking for the perfect gift, we've got you covered.</p>

        <h2 class="mt-4">Our Mission</h2>

        <p>At HotReels, our mission is simple: to provide you with the widest selection of HotWheels toys, accessories, and collectibles, all in one convenient place. We are committed to delivering exceptional products and service that cater to your HotWheels obsession.</p>

        <h2 class="mt-4">Why Choose Us?</h2>

        <ol>
            <li><strong>Unrivaled Selection:</strong> We boast an extensive collection of HotWheels cars, sets, and accessories. From classic vintage models to the latest releases, we have something for every HotWheels enthusiast.</li>
            <li><strong>Quality Assurance:</strong> We understand the value of quality when it comes to collectibles. That's why we source our HotWheels products from trusted manufacturers and suppliers, ensuring you receive authentic, high-quality items every time.</li>
            <li><strong>Competitive Pricing:</strong> We believe that everyone should have access to their favorite HotWheels toys without breaking the bank. Our competitive pricing ensures you get the best deals and discounts on a wide range of products.</li>
            <li><strong>Easy and Secure Shopping:</strong> Our user-friendly website is designed to make your shopping experience seamless and secure. Shop with confidence, knowing that your personal information is protected.</li>
            <li><strong>Dedicated Customer Support:</strong> Have a question or need assistance? Our friendly customer support team is here to help you every step of the way. We're just a click or phone call away.</li>
            <li><strong>Fast Shipping:</strong> We understand that you can't wait to get your hands on your new HotWheels treasures. We offer fast and reliable shipping options to get your order to your doorstep as quickly as possible.</li>
            <li><strong>Passionate Community:</strong> We're not just a store; we're a community of HotWheels enthusiasts. Join us on social media and forums to connect with like-minded collectors and stay up-to-date with the latest HotWheels news and releases.</li>
        </ol>

        <h2 class="mt-4">Our Story</h2>

        <p>HotReels was founded by an avid HotWheels collector who wanted to share his passion with the world. We know firsthand the joy and excitement that HotWheels can bring, and we're dedicated to helping others experience that same thrill.</p>

        <p>From humble beginnings, we have grown into a trusted source for HotWheels toys and accessories. Our team is constantly on the lookout for the hottest releases and the rarest finds to add to our collection. We are driven by our love for HotWheels and our desire to make collecting these iconic cars accessible to everyone.</p>

        <p>Thank you for choosing HotReels as your HotWheels destination. We look forward to serving you and being a part of your HotWheels journey. Happy collecting!</p>
    </div>
        </div>
    </div>
</main>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+JKT8UR/O4Ft3n2M1OG5f5Vr5zQ3u6k1ksCkC5/K5h5I5F5l" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kX1CKmLq5k5F5b5F5F5R5f5g5R5" crossorigin="anonymous"></script>
{% endblock content %}