{% extends 'base.html' %}  <!-- If you have a base template, you can extend it. If not, remove this line. -->
{% load static %}  <!-- If you have a base template, you can extend it. If not, remove this line. -->
{% block content %}
    <div style="height: 50px; visibility: hidden"></div>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col">
<div class="card shadow-sm" style="height: 100%;">
    <img src="{{  product.image_url }}" class="bd-placeholder-img card-img-top" style="width: 100%; height: 100%; object-fit: cover;" alt="Toy...">
{#   {% static product.image_url %} #}

                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">Price: BGN {{ product.price }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
</svg></button>
                                </div>
                                <small class="text-muted">Quantity: {{ product.quantity }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        <div style="height: 50px; visibility: hidden"></div>

{% endblock %}
