<!-- blog/templates/blog/article_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <header class="blog-header py-3">
    </header>
</div>
<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Articles</h3>
            {% for article in articles %}
            <div class="article">
                <h2>{{ article.title }}</h2>
<p><img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid"></p>
                <p>{{ article.content }}</p>

                <p>Published on {{ article.publication_date }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}
