<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Headers · Bootstrap v5.0</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
    {% load static %}


    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'all_products' %}" class="nav-link px-2 text-secondary">Home</a></li>
<li><a href="{% url 'blog' %}" class="nav-link px-2 text-white">Blog</a></li>
                <li><a href="{% url 'about' %}" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
{% if user.is_authenticated %}
    <button type="button" class="btn btn-warning">Sign out</button>
    <a href="#">
        <span class="bi bi-heart">Wishlist</span>
    </a>
    <a href="#">
        <span class="bi bi-cart">Cart</span>
    </a>
{% else %}
    <button type="button" class="btn btn-outline-light me-2">Login</button>
    <button type="button" class="btn btn-warning">Sign-up</button>
{% endif %}

            </div>
        </div>
    </div>
</header>
<main>
    <div>
        {% block content %}
        {% endblock content %}
        {% block success %}
        {% endblock success %}
    </div>
</main>
{% include 'footer.html' %}
</body>
</html>