{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .col-md-8 {
       width: 100%;
    }
</style>
<div class="container">
    <header class="blog-header py-3">

    </header>
</div>
<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom"> Articles</h3>
            {% block thearticle %}
            {% endblock thearticle %}
            {% block article_lists %}
            {% endblock article_lists %}
         </div>
    </div>
</main>
{% endblock content %}