{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
    .hidden { visibility: hidden; padding-top:50px; }
    </style>
<div class="col-md-8 col-lg-6 mx-auto">
<div class="hidden"></div>
    <div class="card bg-transparent">
        <div class="card-body">
            <h4 class="card-title text-center">Contact Form</h4>

            <div class="text-left">
               <form method="POST" action="{% url 'contact_page' %}" class="my-4">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_first_name" class="form-label">First name</label>
                        <input type="text" name="first_name" maxlength="100" class="form-control" id="id_first_name">
                    </div>

                    <div class="mb-3">
                        <label for="id_last_name" class="form-label">Last name</label>
                        <input type="text" name="last_name" maxlength="100" class="form-control" id="id_last_name">
                    </div>

                    <div class="mb-3">
                        <label for="id_email" class="form-label">Email</label>
                        <input type="email" name="email" maxlength="254" required class="form-control" id="id_email">
                    </div>

                    <div class="mb-3">
                        <label for="id_message_subject" class="form-label">Message Subject</label>
                        <input type="text" name="message_subject" maxlength="100" class="form-control" id="id_message_subject">
                    </div>

                    <div class="mb-3">
                        <label for="id_message_body" class="form-label">Message Body</label>
                        <textarea name="message_body" class="form-control" rows="4" id="id_message_body"></textarea>
                    </div>

                    <button type="submit" class="btn btn-secondary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
            <div class="hidden"></div>
</div>
{% endblock content %}
