{% extends 'base.html' %}
{% load static %}

{% block success %}
<p style="color: darkseagreen"> Successfully submitted! </p>
<p style="color: darkseagreen"> Your message has been sent. </p>
<p style="color: darkseagreen"> We will contact you soon. </p>
{% endblock success %}