<doctype html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

        {% load static %}
        <style>
            footer {
                padding: 32px 0px 0px 0px;
              {# Use when the footer is to be replaced by an image: #}
                {#background: url('https://img.freepik.com/free-vector/modern-flowing-blue-wave-banner-white-background_1035-18960.jpg?q=10&h=200') no-repeat center center;#}
                {#background-size: cover;#}
                {# Light gray footer background:: #}

    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;

                position: relative;
                z-index: 6;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>

    <footer>
        <div class="footer-line-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="footer-wrapper-logo-social">
                            <a href="/" class="mini-logo" title="HotReels.com">
                                <img style="width: 120px; height: auto;"
                                     src="{% static 'img/hwnovector.png' %}"
                                     alt="HotReels.com">
                            </a>
                            <a href="https://www.facebook.com/HotReels.com" target="_blank"><i class="fab fa-facebook"
                                                                                               style="color: #fff;"></i></a>
                            <a href="https://www.instagram.com/HotReels.com/" target="_blank"><i
                                    class="fab fa-instagram" style="color: #fff;"></i></a>
                            <a href="https://www.tiktok.com/@HotReels.com" target="_blank"><i class="fab fa-tiktok"
                                                                                              style="color: #fff;"></i></a>
                            <a href="https://www.youtube.com/@izigraiskukata" target="_blank"><i class="fab fa-youtube"
                                                                                                 style="color: #fff;"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="footer-wrapper-payment-logos">
                            <span style="color: #fff; margin-right: 20px;">Начин на плащане</span>
                            <div>
                                <img src="{% static 'paymentmethods/maestro.png' %} "
                                     style="background: #fff; width: 40px; height: auto; border-radius: 6px;">
                                <img src="{% static 'paymentmethods/mcard.png' %}"
                                     style="background: #fff; width: 40px; height: auto; border-radius: 6px;">
                                <img src="{% static 'paymentmethods/visa.png' %}"
                                     style="background: #fff; width: 40px; height: auto; border-radius: 6px;">
                                <img src="{% static 'paymentmethods/visael.png' %}"
                                     style="background: #fff; width: 40px; height: auto; border-radius: 6px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="wide-area info-cols">
                <div class="container">
                    <div class="row">
<a href="{% url 'contact_page' %}">
        <span>Контакт</span>
    </a>



                        <!--<span class="razer-distributor"></span>-->
                    </div>
                </div>
            </div>
            <div class="container">
                <div style="border-bottom: 1px solid #fff;"></div>
            </div>
        </div>


        <div class="wide-area copy-rights">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6">
                    <span class="copy">© 2023 HotReels All Rights Reserved                        &nbsp; | &nbsp;
                        <!-- <a href="">Карта на сайта</a> -->
                    </span>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-6 websites">
                   <span>
                       <a href="" target="_blank" style="color: #fff;"></a><span style="color: #fff;"> | </span>
                   </span>
                    </div>
                </div>
            </div>
        </div>


    </footer>
    </html>